*{
  margin: 0px;
padding: 0px;
}



.a{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: "poping",sans-serif;
scroll-behavior: smooth;
}
p{
font-weight:  300;
color:black;
}
header{
/* background-image: url("images/new-look.jpg");  */
position: fixed;
top: 0%;
left: 0%;
padding: 20px 10px;
width: 100%;
z-index: 1;
display: flex;
justify-content: space-evenly;
align-items: center;
transition: 0,5s;
}
.titre-text{
  color: black;
  text-align: center;
  padding-bottom: 10px;
}
.titre-text span{
  color: rgba(238, 6, 207, 0.39);;
}
.colsa p{
  text-align: center;
 background-color: rgba(238, 6, 207, 0.39);;
 width: auto;
 
}
.logo{
color: black;
font-weight: bold;
font-size: 3em; 
text-decoration: none;
}
.logo span{
color:rgba(238, 6, 207, 0.39);;
}
.navbar{
display: flex;
position: relative;
}
.navbar li{
list-style: none;
}
.navbar a{
color: white;
text-decoration: none;
margin-left: 30px;
font-weight: 700;
}
.btn-reserve{
padding: 10px 20px;
background: rgba(238, 6, 207, 0.39);;
margin-top: -10px;
text-transform: uppercase;

}
.btn-reserve:hover{
background:rgba(238, 6, 207, 0.39);;
transition: ease-out;
}

#reservation {
  justify-content: center;
  align-items: center;
  margin: 500px;
  margin-top: 0px;
 
  
}
#reservation h2{
  margin-top: 0px;
}
 .reserv{
  margin: 20px;
  
}
form{
margin: 20px;
}
header .navbar li a:hover{
color:rgba(238, 6, 207, 0.39);;
border-bottom: 2px solid rgba(238, 6, 207, 0.39);;        
}
.rest img{
width: 100%;
height: 900px;

}
/* .zoom img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom :hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.rest img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
.rest :hover img {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
} */
.img img{

min-width: 190vh;
box-shadow: 2px 4px 5px rgba(0,0,0,0.2);
padding: 30px 15px;
transition: all .3s ease;
}
.Acceu{
  text-align:center;
  margin-bottom: 20px;
  margin-top: 0px;
}
.barniere .contenu{

text-align: center;
display:block

}
.dejeuner,.repas,.diner,.dessert{
  display: block;
  
}
.menuDuJR{
  display: block;
  
}
.nous{
  display: flex;
}

.image-container {
  display: flex;
  align-items: center;
}

.image-container img {
  box-shadow: 0 0 5px black;
  margin: 10px;
  width: 20%;
padding: 10px;
}

.image-container p {
  text-align: center;
}
.reserv{
  margin-bottom: 0px;
  padding: 20px;
  
}
.Acce{
  text-align:center;
  margin-bottom: 20px;
  margin-top: 0px;
  text-decoration: underline;
}
.contenu h1{
  color: black;
}

.barniere .contenu h2{
background:rgba(238, 6, 207, 0.39);
color: white;
font-size: 4em;
text-transform: capitalize; 

} 

.contenu p:nth-child(2){
color: rgb(12, 12, 12);
font-size: 1,2em;

}
.btn1{
font-size: 1em;
color: black;
background: rgba(238, 6, 207, 0.39);;
padding: 10px 20px;  
display: inline-block;
margin-top: 20px;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 2px;
transition: 0,5s;
margin-left: 10px;
}
.btn2{
font-size: 1em;
color: black;
background: rgb(72, 32, 218);
padding: 10px 20px;
display: inline-block;
margin-top: 20px;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 2px;
transition: 0,5s;
margin-left: 10px;
}
.btn1:hover{
letter-spacing: 4px;
}
section{
padding: 90px;

}

.row{
position: relative;
width: 100%;
display: flex;
justify-content: space-between;
}
.row .colsa{
position: relative;
width: 48%;
justify-content: center;
align-items: center;
}
.row .colsa h2{
margin-bottom: 20px;
}
.titre-texte{
color: black;
font-size: 2em;
font-weight: 300px;
text-transform: capitalize;
}
h2.titre-text {
  text-align: left;
}
.titre-texte span{
color:rgba(238, 6, 207, 0.39);;
font-size: 1,5em;
font-weight: 700px;
}
.contact{
color: black;
text-align: center;
}
.contact h2{
  text-align: center;
}
.contact span{
  color: rgba(238, 6, 207, 0.39);;
}
.contact h1{
  text-decoration: underline;
}
.row .colsa  img{
height: 450px;
width: 600px;
position: relative;
}
.titre{
display: flex;
width: 100%;
justify-content: center;
align-items: center;
flex-direction: column;
}
.menu{
margin-top: -100px;
text-align: center;
}

.barniere .contenu p{
color: black;

}

.menu .contenu{
display: flex;
justify-content: center;
flex-wrap: nowrap;
margin: 0px;
}
.menu .contenu .box{
width: 350px;
margin-block-start: 20px;
border: 10px solid white;
box-shadow: 20px 15px 35px rgba(0,0,0, 0.8);
}
.menu .contenu .box .imbox{
position: relative;
width: 100%;
height: 300px;
}
.menu .contenu .box .imbox img{
position: relative;
top: 0;
left: 0;
width: 100%;
height: 300px;
object-fit: cover;
}
.voir{
  display: flex;
  padding: 0px;
  margin: 0px;
}

.voir .contenu{
  animation-duration: 90s;
  animation-name: voir;
  animation-iteration-count: infinite;
  display: flex;
}
.reserv{
  text-align: center;
}
@keyframes voir {
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(-100%);
  }
}
.buba{
  margin-top: 0px;
  
  padding: 0px;
  margin: 0px;
}

.menu .contenu .box .text{
text-align: center;
font-weight: 300px;
color: black;
}
.menu .contenu .box .text h3{
font-weight: 400px;
}
.copyright{
padding: 60px 40px;

text-align: center; 
}
.copyright p:nth-child(1){
color: black;
}
.copyright a{
color: rgba(238, 6, 207, 0.39);;
text-decoration: none;
font-weight: 600;
font-style: italic;
} 
.anime {
display: block;
height: 40px;
width:  60px;
border-radius: 50%;
overflow: hidden;
box-shadow: 2px 4px 5px rgba(238, 6, 207, 0.39);;
animation: shadow-anime infinite 1s;
animation-name: logo-anime;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease-in-out;
margin-right: 150px;
}
.anime a{
  color: black;
}
span{
padding-left: 10px;
text-align: center;
line-height: 40px;
color: rgba(238, 6, 207, 0.39);;
}
@keyframes logo-anime {
0%{
  box-shadow: 0px 0px 0px rgba(238, 6, 207, 0.39);;
}
100%{
  box-shadow: 0px 0px 30px rgba(238, 6, 207, 0.39);;
}
} 
marquee{
color: black;;
}
.coloborateur{
  display: flex;
  justify-content: space-between;
}
 h1{
  text-transform: capitalize;
  color: black;
 
}
.nos{
  text-align: center;
  padding: 0;
  margin: 30px;
}
h1 span{
  color: rgba(238, 6, 207, 0.39);
  text-align: center;
}
.coloborateur img{
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 0px;
  animation-duration: 5s;
  animation-name: voir;
  animation-iteration-count: infinite;
}


.cont{
  display: flex;
  justify-content: space-between;
}



.contenu{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0px;
  }
  .contenu .box{
  width: 350px;
  margin-block-start: 20px;
  border: 10px solid white;
  box-shadow: 20px 15px 35px rgba(0,0,0, 0.8);
  text-align: center;
  }
  .contenu .box .imbox{
  position: relative;
  width: 100%;
  height: 300px;
  } 
.contenu .box .imbox img{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
  }
  .contenu .box{
  
  font-weight: 300px;
  color: black;
  }
.contenu .box  h3{
  font-weight: 400px;
  }


.cont img{
  width: 50px;
  height: 50px;
}
#scroll{
width: 40px; 
height: 40px;
display: block;
line-height: 40px;
text-align: center;
font-size: 25px; 
border: 1px solid rgba(238, 6, 207, 0.39);;
border-radius:50%; 
color: white; 
background-color: rgb(24, 24, 23);
box-shadow: 2px 4px 5px rgba(0,0,0,0.2); 
cursor: pointer;  
position: fixed;   
bottom: 25px;  
right: 40px;
} 

#about {
  
  padding: 80px 0;
}

#about h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  color: black;
}

#about p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
  padding: 0 20px;
}








html, body {
  height: 100%;
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rotate-icon {
  position: absolute;
  
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px;
  margin-left: -50px;
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

/* mot passe uvs: Passer@M04  */
/* mot passe ccos: @Ccos2018@-  */
